.sidebar{
    flex:0.2;
    height: calc(100vh -50px);
    background-color:rgba(253,203,154,1);
    position: absolute;
    top: 50px;
left:0;
width: 15vw;
}
.sidebarWrapper{
    color: rgb(255, 255, 255);
    padding: 20px;
    position: relative;
    margin-left:5%; 
}
.sidebarMenu{
    margin-bottom: 10px;
}
.sidebarTitle{
    font-size: 13px;
    color: rgb(174, 172, 172);
}
.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
.sidebarListItem:hover{
    background-color: #e54b26;
    color: white;
    transition-property: background-color;
    transition-duration: 2s;
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}

@media screen and (min-width: 960px) {
    
    .sidebar{
         width: 15vw;
         height: 100%;
    }
}